<app-cabecalho></app-cabecalho>

<a [routerLink]="['/']" class="botao-voltar">
    <span class="material-icons">arrow_back</span>
</a>

<div *ngIf="escola" style="text-align:center; padding: 24px 16px;">
    <img [src]="escola.logo" [alt]="escola.nome" style="max-width: 320px; width: 90%; height: auto;">
</div>

<div *ngIf="abaAtiva === 'unidade'">
    <app-modalidades [escolaId]="escolaId" class="scroll-animar"></app-modalidades>
</div>

<app-rodape></app-rodape>
<app-botao-subir></app-botao-subir>