<section  class="banner-tela-grande">
    <div class="carrossel">
        <div class="slides">
            <img  [src]="imagens[indiceAtual]" alt="Slide">
        </div>
        <div class="controles">
            <button (click)="anterior()">&#10094;</button>
            <button (click)="proximo()">&#10095;</button>
        </div>
    </div>
</section>
<section  class="banner-tela-pequena">
    <div class="carrossel">
        <div class="slides">
            <img  [src]="imagensPequenas[indiceAtual]" alt="Slide">
        </div>
        <div class="controles">
            <button (click)="anterior()">&#10094;</button>
            <button (click)="proximo()">&#10095;</button>
        </div>
    </div>
</section>