
.banner-tela-pequena img {
    width: 100vw;
    z-index: unset;
}

.banner-tela-grande {
    display: none;
    z-index: unset;

}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.controles {
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.controles button {
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transform: translateY(-50%);
}

.controles button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


@media (min-width: 768px) {
    .banner-tela-pequena {
        display: none;
    }

    .banner-tela-grande {
        display: block;
        margin: 0 auto;
    }

    .banner-tela-grande img {
        width: 100%;
        object-fit: cover;
    }

    .controles {
        top: 35%;
    }
}

@media (min-width: 975px) {
    .controles {
        top: 400px;
    }
}


@media (min-width: 1500px) {
    .banner-tela-grande img {
        width: 1500px;
    }

    .controles {
        top: 50%;
    }
}
