<section class="matriculas" id="matriculas">
    <h1>Planos que cabem no seu orçamento e acompanham <span>o crescimento do seu filho</span></h1>
    <p>Pague adesão, uniforme e escolha o plano ideal para você!</p>

    <div class="container-info-modal">
        <div class="container-matriculas">

            <!-- Card 1 -->
            <div class="container-info">
                <h2>Adesão</h2>

                <!-- ✅ Agora é Mensalidade x 10 -->
                <p class="preco">{{ formatBRL((matriculas?.mensalidade ?? 0) * 10) }}</p>

                <p>em até 10x</p>
                <ul>
                    <li>Contrato com cancelamento até outubro</li>
                    <li>Aviso prévio de 30 dias</li>
                    <li>Obrigatória para matrícula</li>
                </ul>
            </div>

            <!-- Card 2 -->
            <div class="container-info">
                <h2>Mensalidade</h2>

                <p class="preco">{{ formatBRL(matriculas?.mensalidade) }}/mês</p>
                <p>Por mês</p>

                <ul>
                    <!-- Só aparece no Sigma -->
                    <li *ngIf="matriculas?.sigmaClub"><strong> Sigma Club: {{ formatBRL(matriculas?.sigmaClub) }}</strong></li>
                    
                    <li >Pagamento por boleto ou cartão</li>

                    <li>Planos semestral e anual disponíveis</li>
                </ul>
            </div>

            <!-- Card 3 -->
            <div class="container-info">
                <h2>Uniforme TOP7</h2>

                <p class="preco">{{ formatBRL(matriculas?.uniforme) }}</p>
                <p>(short + camiseta)</p>

                <ul>
                    <li>Patch Judô: <strong>{{ formatBRL(matriculas?.patchJudo) }}</strong></li>
                    <li>Camisa (avulso): <strong>{{ formatBRL(matriculas?.camisaAvulso) }}</strong></li>
                    <li>Short (avulso): <strong>{{ formatBRL(matriculas?.shortAvulso) }}</strong></li>
                    <li>{{ getAvisoUniformesTreino() }}</li>
                </ul>
            </div>

        </div>
    </div>
</section>