.wpp-fixo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    color: #25d366;
    z-index: 1000;

}

@media (min-width: 768px) {

    .wpp-fixo .wpp {
        width: 200px;
    }
}

.wpp-fixo .wpp {
    width: 150px;
    margin-bottom: -20px;
}