.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.menu-cart {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo {
    width: 118.5px;
    height: 36px;
    cursor: pointer;
}

.cart {
    width: 30px;
    height: 30px;
}

nav {
    margin-top: 0.3rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 20px;
    background-color: var(--cor-azul-escuro);
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

li {
    margin: 0 auto;
    cursor: pointer;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: var(--cor-dourado);
}

.itens {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0px;
    padding-top: 10px;
    width: 100vw;

    transform: translate(-10px);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    opacity: 0;

}

.itens.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.material-icons {
    color: var(--cor-azul-escuro);
}

@media (min-width: 975px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .menu-cart {
        position: static;
        transform: none;
    }

    .material-icons {
        display: none;
        /* esconde o botão de menu no desktop */
    }

    .itens {
        position: static;
        flex-direction: row;
        width: auto;
        opacity: 1;
        transform: none;
        pointer-events: auto;
        background-color: transparent;
        padding-top: 0;
    }

    .itens.show {
        
        opacity: 1;
        transform: none;
        pointer-events: auto;
    }

    li a {
        color: var(--cor-azul-escuro);
        font-size: larger;
        padding: 10px;
        
    }

    li a:hover {
        color: var(--cor-dourado-claro);
        border-radius: 10%;
    }

    
}