<header class="header">
    <img src="/assets/logoazul.png" alt="LOGO TOP7" class="logo" />

    <div class="menu-cart">
        <span class="material-icons" (click)="statusMenu()">
            {{ menuAberto ? 'close' : 'menu' }}
        </span>
        <img src="/assets/cart.png" alt="cart" class="cart" (click)="cart()"/>
    </div>

    <nav>
        <ul class="itens" [class.show]="menuAberto">
            <li><a href="#sobre-nos">Sobre a TOP7</a></li>
            <li><a href="#modalidades">Modalidades</a></li>
            <li><a href="#matriculas">Matrículas</a></li>
            <li><a href="#equipe">Equipe</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>
</header>