.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.menu-cart {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo {
    width: 118.5px;
    height: 36px;
    cursor: pointer;
}

.cart {
    width: 30px;
    height: 30px;
}

nav {
    margin-top: 0.3rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 20px; 
    background-color: var(--cor-azul-escuro);
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

li {
    margin: 0 auto;
    cursor: pointer;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: var(--cor-dourado);
}

.itens {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0px;
    padding-top: 10px;
    width: 100vw;

    transform: translate(-10px);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    opacity: 0;

}

.itens.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.material-icons {
    color: var(--cor-azul-escuro);
}

@media (min-width: 768px) {

}
