<header class="header" id="header">
    <img src="/assets/logoazul.png" alt="LOGO TOP7" class="logo" />

    <div class="menu-cart">
        <span class="material-icons" (click)="statusMenu()">
            {{ menuAberto ? 'close' : 'menu' }}
        </span>
        <img src="/assets/cart.png" alt="cart" class="cart" (click)="cart()"/>
    </div>

    <nav>
        <ul class="itens" [class.show]="menuAberto">
            <li><a href="#sobre-nos" (click)="statusMenu()">Sobre a TOP7</a></li>
            <li><a href="#modalidades" (click)="statusMenu()">Modalidades</a></li>
            <li><a href="#matriculas" (click)="statusMenu()">Matrículas</a></li>
            <li><a href="#equipe" (click)="statusMenu()">Equipe</a></li>
            <li><a href="#contato" (click)="statusMenu()">Contato</a></li>
        </ul>
    </nav>
</header>