<div class="container-principal">
    <app-cabecalho></app-cabecalho>
    <app-hero></app-hero>
    <app-sobre-nos></app-sobre-nos>
    <app-modalidades class="scroll-animar"></app-modalidades>
    <app-matriculas class="scroll-animar"></app-matriculas>
    <app-equipe class="scroll-animar"></app-equipe>
    <app-contato class="scroll-animar"></app-contato>
    <app-rodape></app-rodape>
    <app-wpp></app-wpp>
    <app-botao-subir></app-botao-subir>
</div>

<div class="container-pag-em-desenvolvimento">
    <img src="/assets/pag-em-desenvolvimento.png" alt="LOGO TOP7" class="logo" />

    <h1>Apenas versao para mobile completa.</h1>
    <p>Aperte <strong>F12 > versão mobile</strong> para visualizar a pagina.</p>
</div>