<div class="container-principal">
    <app-cabecalho></app-cabecalho>
    <h1>
        <a
            href="https://docs.google.com/forms/d/e/1FAIpQLScwX8qnPyt03wioC4b4ZimVc-HlrMnm9BqvGBWKUlQr-793Xw/viewform?usp=header">Faça
            sua inscrição da Colônia de Férias <span>aqui</span></a>
    </h1>
    <app-hero></app-hero>
    <app-sobre-nos></app-sobre-nos>
    <app-modalidades class="scroll-animar"></app-modalidades>
    <app-matriculas class="scroll-animar"></app-matriculas>
    <app-equipe class="scroll-animar"></app-equipe>
    <app-contato class="scroll-animar"></app-contato>
    <app-rodape></app-rodape>
    <app-botao-subir></app-botao-subir>
</div>