<section class="colonia-de-ferias">
    <div class="segundo-modal">
        <img src="/assets/colonia-de-ferias-sem-fundo.webp" alt="imgem" class="img-titulo-colonia-deferias">
        <img src="/assets/mensagem-inscricao-colonia.webp" alt="imgem" class="img-sub-titulo-colonia-deferias">
    </div>
    <div class="logos lista-escolas">
        <button type="button" class="logo-box card-escola" *ngFor="let escola of escolas; trackBy: trackByEscolaId"
            (click)="abrirLinkExterno(escola)">
            <img [src]="escola.logo" [alt]="escola.nome" />
        </button>
    </div>
</section>