<h2>Quem somos?</h2>
<section class="sobre-nos" id="sobre-nos">
    <div class="primeiro-modal">
        <img src="/assets/img-prof.png" alt="imgem">
        <h3>A Top7 Esportes é mais do que uma empresa de atividades físicas. <span> somos um grupo apaixonado por
                movimento, criatividade e inclusão.</span></h3>
    </div>
    <div class="segundo-modal">
        <img src="/assets/img-alunos.png" alt="imgem">
        <h3>Formada por profissionais de educação física experientes, <span> nossa missão é transformar a prática
                esportiva em uma experiência prazerosa, desafiadora e acolhedora para todos.</span></h3>
    </div>
</section>