<h2>Quem somos?</h2>
<section class="sobre-nos" id="sobre-nos">
    <div class="primeiro-modal">
        <img src="/assets/img-alunos.webp" alt="imgem" class="img-prof">
        <img src="/assets/img-alunos-tela-grande.webp" alt="imgem" class="img-prof-tela-grande">
        <h3>A nossa missão e visão é promover e incentivar a prática de esportes. <span> Proporcionar uma experiência 
            positiva aos nossos clientes e contribuindo para o desenvolvimento físico, emocional e social da comunidade</span></h3>
    </div>
    <div class="segundo-modal">
        <img src="/assets/img-prof.webp" alt="imgem" class="img-alunos">
        <h3>Comprometidos em oferecer produtos e serviços de qualidade, <span> cumprindo prazos e superando as expectativas dos nossos clientes.</span></h3>
            <img src="/assets/img-prof-tela-grande.webp" alt="imgem" class="img-alunos-tela-grande">
    </div>
</section>