:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5000000;
  display: block;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000000;
}

.modal-content {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 24px;
  overflow-y: auto;
  border-radius: 0;
}

p {
  padding-top: 70px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 80px;
}


@media (min-width: 768px) {
  .modal-content {
    width: 600px;
    height: 450px;
    border-radius: 12px;
  }
}