<section class="contato" id="contato">
    <form (submit)="form($event)">
        <h2>Contato</h2>

        <div class="container-dropdown">
            <select name="" id="" class="dropdown">
                <option value="opcao">Escolha um assunto</option>
                <option value="opcao1">opcao 1</option>
                <option value="opcao2">opcao 2</option>
                <option value="opcao3">opcao 3</option>
                <option value="opcao4">Outro</option>
            </select>
        </div>
        <div class="container-nome div-container">
            <label for="Nome">Nome</label>
            <input type="text" placeholder="Seu nome aqui">
        </div>
        <div class="container-email div-container">
            <label for="email">E-mail</label>
            <input type="email" placeholder="exemplo@email.com">
        </div>
        <div class="container-mensagem div-container">
            <label for="mensagem">Sua mensagem</label>
            <textarea name="mensagem" id="msg" placeholder="Sua mensagem aqui"></textarea>
        </div>
        <div class="div-button">
            <app-button-component texto="Enviar" type="submit" class="btn"></app-button-component>
        </div>
    </form>
</section>