<app-cabecalho></app-cabecalho>
<div class="modal-tela-pequena">
  <a [routerLink]="['/']" class="botao-voltar"><span class="material-icons">arrow_back</span>
    <p>Voltar</p>
  </a>
  <h2 class="titulo-principal">{{ titulo }}</h2>
  <div class="container-imagem">
    <img [src]="imagem" alt="{{ titulo }}" class="imagem-modalidade">
  </div>
  <h2 class="titulo-atividade">Grades de atividades</h2>
  <p class="paragrafo">Veja as atividades de cada turma</p>

  <div *ngFor="let item of grade" class="lista-horarios">
    <h2 class="titulo-secundario">{{item.nivel}}</h2>

    <div *ngFor="let horario of item.horarios" class="blocos-horario">
      <p class="horario">{{horario.horario}}</p>

      <ul class="scroll-horarios">
        <div class="container-seg container-dias-semana">
          <li class="titulo-li">Seg</li>
          <p> {{horario.seg}}</p>
        </div>
        <div class="container-ter container-dias-semana">
          <li class="titulo-li">Ter</li>
          <p> {{horario.ter}}</p>
        </div>
        <div class="container-qua container-dias-semana">
          <li class="titulo-li">Qua</li>
          <p>{{horario.qua}}</p>
        </div>
        <div class="container-qui container-dias-semana">
          <li class="titulo-li">Qui</li>
          <p>{{horario.qui}}</p>
        </div>
        <div class="container-sex container-dias-semana">
          <li class="titulo-li">Sex</li>
          <p>{{horario.sex}}</p>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="grade-container">

  <h2 class="titulo-principal-tela-grande">{{ titulo }}</h2>
  <div class="container-imagem-tela-grande">
    <img [src]="imagem" alt="{{ titulo }}" class="imagem-modalidade-tela-grande">
  </div>
  <h2 class="titulo">Grades de atividades</h2>
  <p class="subtitulo">Veja as atividades de cada turma</p>

  <div *ngFor="let item of grade" class="bloco-nivel">
    <h3 class="titulo-nivel">{{ item.nivel }}</h3>

    <div class="linha header">
      <div class="celula inicio">Horário</div>
      <div class="celula">Seg</div>
      <div class="celula">Ter</div>
      <div class="celula">Qua</div>
      <div class="celula">Qui</div>
      <div class="celula">Sex</div>
    </div>

    <div *ngFor="let horario of item.horarios" class="linha">
      <div class="celula inicio">{{ horario.horario }}</div>
      <div class="celula">{{ horario.seg }}</div>
      <div class="celula">{{ horario.ter }}</div>
      <div class="celula">{{ horario.qua }}</div>
      <div class="celula">{{ horario.qui }}</div>
      <div class="celula">{{ horario.sex }}</div>
    </div>
  </div>
</div>

<app-rodape></app-rodape>
<app-wpp [numero]="numero"></app-wpp>
<app-botao-subir></app-botao-subir>