<app-cabecalho></app-cabecalho>

<a [routerLink]="['/escolas', escolaId]" class="botao-voltar">
  <span class="material-icons">arrow_back</span>
  <p>Voltar</p>
</a>

<h2 class="titulo-principal">{{ titulo }}</h2>

<div class="container-imagem">
  <img [src]="imagem" alt="{{ titulo }}" class="imagem-modalidade">
</div>

<h2 class="titulo-atividade">Grades de atividades</h2>
<p class="paragrafo">Veja as atividades de cada turma</p>

<div *ngFor="let item of grade" class="lista-horarios">
  <h2 class="titulo-secundario">{{ item.nivel || 'Geral' }}</h2>

  <div *ngFor="let horario of item.horarios" class="blocos-horario">
    <p class="horario">{{ horario.horario }}</p>

    <div class="linha header">
      <div class="celula">Seg</div>
      <div class="celula">Ter</div>
      <div class="celula">Qua</div>
      <div class="celula">Qui</div>
      <div class="celula">Sex</div>
    </div>

    <div class="linha">
      <div class="celula">{{ horario.seg }}</div>
      <div class="celula">{{ horario.ter }}</div>
      <div class="celula">{{ horario.qua }}</div>
      <div class="celula">{{ horario.qui }}</div>
      <div class="celula">{{ horario.sex }}</div>
    </div>
  </div>
</div>

<app-rodape></app-rodape>
<app-wpp [numero]="numero"></app-wpp>
<app-botao-subir></app-botao-subir>