.container-footer {
    margin-top: 50px;
    background-color: var(--cor-azul-escuro);
}

.container-img {
    
    margin: 0 auto;
    width: 118.5px;
}

.logo {
    margin: 50px 0 50px 0;
    width: 118.5px;
    height: 36px;
    cursor: pointer;
}
.insta{
    width: 50px;
    
}
.container-insta{
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}
p{
    color: var(--cor-dourado);
    text-align: center;
    margin: 15px 0 15px 0;
}
.container-button{
    display: flex;
    flex-direction: column;
}
.container-button button{
background-color: var(--cor-azul-escuro);
border: none;
color: var(--cor-dourado);
font-size: 16px;
margin: 15px 0 15px 0;
cursor: pointer;
}
