<footer class="container-footer">
    <div class="container-info">
        <div class="container-img">
            <a href="#header">
                <img src="/assets/LOGO-TOP7-branco.png" alt="LOGO-TOP7-branco" class="logo">
            </a>
        </div>
        <div class="container-insta-powerd">
            <div class="container-insta">
                <img src="/assets/instagram.png" alt="icone-instagram" class="insta" (click)="btnInstagram()">
            </div>
            <p>Powered by TOP7 © 2024</p>
        </div>
        <div class="container-insta-tela-grande">
            <p>Powered by TOP7 © 2024</p>
            <div class="container-insta">
                <img src="/assets/instagram.png" alt="icone-instagram" class="insta" (click)="btnInstagram()">
            </div>
        </div>
    </div>
</footer>