<footer class="container-footer">
    <div class="container-img">
        <img src="/assets/LOGO-TOP7-branco.png" alt="LOGO-TOP7-branco" class="logo" (click)="btnLogo()">
    </div>
    <div class="container-insta">
        <img src="/assets/instagram.png" alt="icone-instagram" class="insta" (click)="btnInstagram()">
    </div>
    <p>Powered by TOP7 © 2024</p>
    <div class="container-button">
        <button (click)="btnTermosDeUso()">Termos de uso</button>
        <button (click)="btnPoliticaDePrivacidade()">Política de privacidade</button>
    </div>
</footer>