.container-footer {
    margin-top: 50px;
    background-color: var(--cor-azul-escuro);
    padding-bottom: 50px;
}

.container-feito-por{
    text-align: center;
    color: var(--cor-dourado-claro);
    margin-top: 100px;
    margin-bottom: -40px;
}
.container-feito-por strong{
    cursor: pointer;
}

.container-img {

    margin: 0 auto;
    width: 118.5px;
}

.logo {
    margin: 50px 0 50px 0;
    width: 118.5px;
    height: 36px;
    cursor: pointer;
}

.insta {
    width: 50px;
    padding-bottom: 40px;
}

.email {
    width: 43px;
    margin-top: 5px;
    cursor: pointer;
}

.container-redes-tela-pequena {
    width: 100px;
    margin: 0 auto
}

.container-insta {
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}

p {
    color: var(--cor-dourado-claro);
    text-align: center;
    margin: 15px 0 15px 0;
}

.container-button {
    display: flex;
    flex-direction: column;
}

.container-button button {
    background-color: var(--cor-azul-escuro);
    border: none;
    color: var(--cor-dourado);
    font-size: 16px;
    margin: 15px 0 15px 0;
    cursor: pointer;
}

.container-insta-tela-grande {
    display: none;
}

.container-redes-tela-pequena {
    display: flex;
    justify-content: center;
    gap: 20px;
}


@media (min-width: 768px) {
    .container-img {
        margin: 0;
        margin-left: 30px;
        width: 118.5px;

    }


    .container-info {
        width: 70%;
        margin: 0 auto;
    }

    .container-insta-powerd {
        display: none;
    }

    .container-insta-tela-grande {
        display: flex;
        justify-content: space-between;
    }

    .container-insta-tela-grande p {
        width: 200px;
    }

    .container-redes {
        display: flex;
        gap: 35px;
        width: 150px;
    }

    .container-insta {
        margin-right: 0px;
        margin-top: -40px;
    }

    .container-insta img {
        width: 80px;
    }

    .container-email img {
        width: 70px;
        margin-top: -31px;
        cursor: pointer;
    }

}

@media (min-width: 1096px) {
    .container-info {
        width: 1080px;
        margin: 0 auto;
    }
}

@media (min-width: 2000px) {
.container-info {
        width: 1800px;
        margin: 0 auto;
    }
}